@{
    Layout = "";
}




<div class="container ">
    <div class=" mx-auto p-2" style="width:45%">
        <div class="text-center mt-3">
            <img src="~/img/logotipo.png" alt="logo" width="120" height="auto" class="img-fluid"></img>
            <br />
            <h3 class="mt-2">Ferreteria Bendición</h3>
        </div>
        <br />
        <div class="">
            <form class="">
                <div class="bg-success text-center" >
                    <input type="text" class="form-control" placeholder="Usuario"/>
                    <span class="text-danger" ></span>
                </div>
                <div class="bg-primary text-center mt-2">
                    <input class="form-control" type="password" placeholder="Contraseña"/>
                    <span class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-3" style="width:100%;">Ingresar</button>
            </form>
        </div>
    </div>




</div>