<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProyectoWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
        </nav>
    </header>
    <header>
        <nav class="navbar bg-primary fixed-top mb-5 ">
            <div class="container-fluid">
               <div class="navbar-toggler btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="float:left;">
                <i class="bi bi-list"></i>
            </div>
            <span class="navbar-brand ms-2 text-light" href="#">Proyecto Web</span>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Proyecto Web</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body h5">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item dropdown-item">
                            <a class="nav-link active" aria-current="page" href="#"  >
                                <i class="bi bi-house-door-fill"></i>
                                <span class="mx-2">Home</span>
                            </a>
                        </li>
                        <!-- Customer -->
                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-badge"></i>
                                <span class="mx-2">Clientes</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li>
                                    <a class="dropdown-item"  asp-area="" asp-controller="Customer" asp-action="Index">
                                        <i class="bi bi-journal-text"></i>&nbsp; Listado Clientes
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="CustomerCat" asp-action="Index">
                                        <i class="bi bi-tags"></i>&nbsp; Categorias
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Product -->
                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-basket-fill"></i>
                                <span class="mx-2">Productos</span>  
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">
                                        <i class="bi bi-journal-text"></i>&nbsp; Listado Productos
                                    </a>
                                 </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="ProductCat" asp-action="Index">
                                        <i class="bi bi-tags"></i>&nbsp; Categorias
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="ProductMeasure" asp-action="Index">
                                        <i class="bi bi-rulers"></i>&nbsp; Medidas
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Supplier -->
                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-basket-fill"></i>
                                <span class="mx-2">Proveedores</span>  
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li>
                                    <a class="dropdown-item"  asp-area="" asp-controller="Supplier" asp-action="Index">
                                        <i class="bi bi-journal-text"></i>&nbsp; Listado Proveedores
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="SupplierCat" asp-action="Index">
                                        <i class="bi bi-tags"></i>&nbsp; Categorias
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Buys -->
                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-bag"></i>
                                <span class="mx-2">Compras</span>  
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li>
                                    <a class="dropdown-item"  asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-card-checklist"></i></i>&nbsp; Cotización
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-bag"></i>&nbsp; Facturar compra
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-arrow-bar-right"></i>&nbsp; Devoluciones sobre compras
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-list-columns-reverse"></i>&nbsp; Reportes
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Sales -->
                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-cart2"></i>
                                <span class="mx-2">Ventas</span>  
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li>
                                    <a class="dropdown-item"  asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-journal-text"></i>&nbsp; Cotización
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-receipt-cutoff"></i>&nbsp; Facturar venta
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-arrow-bar-left"></i>&nbsp; Devoluciones sobre ventas
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-list-columns-reverse"></i>&nbsp; Reportes
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- Sales -->
                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-cart2"></i>
                                <span class="mx-2">Ventas</span>  
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                <li>
                                    <a class="dropdown-item"  asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-journal-text"></i>&nbsp; Cotización
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-receipt-cutoff"></i>&nbsp; Facturar venta
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-arrow-bar-left"></i>&nbsp; Devoluciones sobre ventas
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Buy" asp-action="Index">
                                        <i class="bi bi-list-columns-reverse"></i>&nbsp; Reportes
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Authenticate" asp-action="Index">
                                <i class="bi bi-house-door-fill"></i>
                                <span class="mx-2">Login</span>
                            </a>
                        </li>

                    </ul>
                    </div>
                </div>
            </div>
        </nav> 
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProyectoWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
