

<div class="container">
<h1>Categorias Proveedor</h1>
    
<div class="mt-2">
    <a class="btn btn-outline-success" asp-controller="SupplierCategory" asp-action="CreateForm">Agregar Categoria</a>
</div>
<div class="bg-light mt-5 mx-2">
    <table class="table">
        <thead class="bg-dark text-light">
            <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
               <td>Proveedores interior</td>
               <td><a class="btn btn-outline-primary">Update</a></td>
               <td><a class="btn btn-outline-danger">Delete</a></td>
            </tr>

        </tbody>
    
    </table>
</div>
</div>